@font-face{

font-family: "FuturaDemiC";

src: url("../assets/fonts/futurademic.otf") format("opentype");

font-weight: normal;

font-style: normal;
}

@font-face{

  font-family: "FuturaBookC";

  src: url("../assets/fonts/futurademic.otf") format("opentype");

  font-weight: normal;

  font-style: normal;
}

@font-face{

  font-family: "Yeseva One";

  src: url("../assets/fonts/yesevaone.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}

@font-face{

  font-family: "FuturaMediumC";

  src: url("../assets/fonts/futuramediumc.otf") format("opentype");

  font-weight: normal;

  font-style: normal;
}

@font-face{

  font-family: "Proxima Nova";

  src: url("../assets/fonts/Proxima Nova.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}
