$colorBiege: #E3B873;
$fontFamilyFuturaC: "FuturaDemiC", sans-serif;
$themeDark: #131313;

$futuraBookC: "FuturaBookC", sans-serif;
$yesevaOne: "Yeseva One", serif;
$textBlack: #363636;
$futuraMediumC: "FuturaMediumC", sans-serif;
$proximaNova: "Proxima Nova", sans-serif;
$mobileBlack: #252525;
$clientsBlack: #181818;
$textGray: #959595;
$mobileWidth: 768px;
$wrappingWidth: 1367px;
