@import "../abstracts/fonts";
@import "../abstracts/mixins";
@import "../abstracts/variables";

.main-offer {
  @include flex(flex-start, row);
  justify-content: space-between;
  position: relative;
}

.main-offer__links-bar {
  background-color: $themeDark;
  position: relative;
  min-width: 6%;
  @include flex(space-around, column);

  & a {
    font-family: $fontFamilyFuturaC;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $colorBiege;
    @include flex(space-around, column);
    transform: rotate(90deg);

    &:hover {
      color: darken($colorBiege, 10%);
    }

    &:active {
      color: darken($colorBiege, 20%);
    }
  }
  @media screen and (max-device-width: $mobileWidth) {
    display: none;
  }
  @media screen and (max-width: $mobileWidth){
    display: none;
  }
}

.main-offer__content {
  background-image: url("../assets/img/cover-main.png"), url("../assets/img/background-main.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 94%;
  padding-left: 4%;
  @media screen and (max-device-width: $mobileWidth) {
    width: 100%;
    background-image: url("../assets/img/cover-main.png"), url("../assets/img/mobile/background-top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media screen and (max-width: $mobileWidth){
    width: 100%;
    background-image: url("../assets/img/cover-main.png"), url("../assets/img/mobile/background-top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  & h1 {
    @include zeroPaddings;
    margin-top: 14.5%;
    font-family: $yesevaOne;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
    width: 40%;
    @media screen and (max-device-width: $mobileWidth) {
      font-size: 23px;
      width: 90%;
    }
    @media screen and (max-width: $mobileWidth){
      font-size: 23px;
      width: 90%;
    }

    & bold {
      color: $colorBiege;
    }
  }

  & p {
    @include zeroPaddings;
    font-family: $futuraBookC;
    font-size: 22px;
    line-height: 30px;
    color: white;
    margin-top: 1.4%;
    max-width: 390px;
    @media screen and (max-device-width: $mobileWidth) {
      font-size: 18px;
      width: 90%;
    }
    @media screen and (max-width: $mobileWidth){
      font-size: 18px;
      width: 90%;
    }
  }
}

.main-offer__buttons {
  margin-top: 3.2%;
  margin-bottom: 13%;
}

.scroll-down {
  @media screen and (max-device-width: $mobileWidth) {
    display: none;
  }
  @media screen and (max-width: $mobileWidth){
    display: none;
  }
  position: relative;
  background-color: $themeDark;
  position: absolute;
  @include flex(space-around, row);
  bottom: -5%;
  font-family: $yesevaOne;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: white;
  padding: 34px 49px 34px 48px;
}

.completed-projects {
  background-color: $themeDark;
  @include flex(space-between, row);
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: 7%;
  padding-bottom: 6%;
  padding-top: 6%;
  @media screen and (max-device-width: $mobileWidth) {
    @include zeroPaddings;
    padding: 5%;
    background-color: $mobileBlack;
  }
  @media screen and (max-width: $mobileWidth){
    @include zeroPaddings;
    padding: 5%;
    background-color: $mobileBlack;
  }
}

.completed-projects__description {
  max-width: 410px;
  @media screen and (max-device-width: $mobileWidth) {
    width: 100%;
    @include flex(space-around, column);
    align-items: center;
    margin: auto;
  }
  @media screen and (max-width: $mobileWidth){
    width: 100%;
    @include flex(space-around, column);
    align-items: center;
    margin: auto;
  }

  & h2 {
    @include zeroPaddings;
    font-family: $yesevaOne;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: $colorBiege;
    position: relative;
    max-width: 200px;
    padding-right: 80px;
    @media screen and (max-device-width: $mobileWidth) {
      font-size: 22px;
      @include zeroPaddings;
      text-align: center;
    }
    @media screen and (max-width: $mobileWidth){
      font-size: 22px;
      @include zeroPaddings;
      text-align: center;
    }
    &::after {
      content: "";
      position: absolute;
      width: 92px;
      height: 1px;
      background-color: $colorBiege;
      bottom: 20%;
      right: 2%;
      @media screen and (max-device-width: $mobileWidth) {
        display: none;
      }
      @media screen and (max-width: $mobileWidth){
        display: none;
      }
    }
  }

  & p {
    @include zeroPaddings;
    font-family: $futuraBookC;
    font-size: 18px;
    line-height: 29px;
    color: white;
    padding-top: 7.6%;
    @media screen and (max-device-width: $mobileWidth) {
      font-size: 13.5px;
      text-align: center;
      margin-bottom: 7%;
    }
    @media screen and (max-width: $mobileWidth){
      font-size: 13.5px;
      text-align: center;
      margin-bottom: 7%;
    }
  }
}

.completed-projects__description__parameters {
  @include zeroPaddings;
  margin-top: 10%;

  & h3 {
    @include zeroPaddings;
    margin-top: 40%;
    font-family: $yesevaOne;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: $colorBiege;
  }

  & p {
    @include zeroPaddings;
    margin-top: 10%;
    font-size: 15px;
    line-height: 20px;
    width: 60%;
    text-align: left;
  }

  & tr {
    @include zeroPaddings;
    margin-top: 10%;

    & td {
      @include zeroPaddings;
    }
  }
}

.completed-projects__description__navigation {
  @include flex(space-between, row);
  margin-top: 10%;
  @media screen and (max-device-width: $mobileWidth) {
    display: none;
  }
  @media screen and (max-width: $mobileWidth){
    display: none;
  }
}

.completed-projects__description__navigation__list {
  @include zeroPaddings;
  position: relative;
  @include flex(space-around, row);
  width: 40%;
  list-style: none;
  margin-top: 3%;

  & li:not(.active-point) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      background-color: rgba(255, 255, 255, 0.3);
      top: 0;
      left: 50%;
      border-radius: 50%;
    }
  }

  & li.active-point {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      background-color: white;
      top: 0;
      left: 50%;
      border-radius: 50%;
    }
  }
}

.completed-projects__photos {
  @include flex(space-around, column);
  @media screen and (max-device-width: $mobileWidth) {
    display: none;
  }
  @media screen and (max-width: $mobileWidth){
    display: none;
  }
}

.completed-projects__photos__images {
  position: relative;
  @include flex(space-between, row);

  & img[alt="first-image"] {
    max-width: 79%;
  }

  & img[alt="second-image"] {
    margin-left: 21px;
  }
}

.completed-projects__photos__navigation {
  margin-bottom: 6%;
}

.completed-projects__mobile {
  display: none;
  @media screen and (max-device-width: $mobileWidth) {
    display: block;
    position: relative;
  }
  @media screen and (max-width: $mobileWidth){
    display: block;
    position: relative;
  }
}

.camera-control {
  @include flex(space-between, column);
  align-items: center;
  background: -webkit-linear-gradient(top, $themeDark, $themeDark 40%, white 40%, white);
  @media screen and (max-device-width: $mobileWidth) {
    margin: 5% 5% 0;
    background-color: $mobileBlack;
  }

  @media screen and (max-width: $mobileWidth){
    margin: 5% 5% 0;
    background-color: $mobileBlack;
  }

  & p {
    @include zeroPaddings;
    max-width: 682px;
    font-family: $futuraBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: $textBlack;
    margin-top: 6%;
    @media screen and (max-device-width: $mobileWidth) {
      color: white;
      font-size: 14px;
      text-align: center;
      width: 100%;
    }
    @media screen and (max-width: $mobileWidth){
      color: white;
      font-size: 14px;
      text-align: center;
      width: 100%;
    }
  }
  @media screen and (max-device-width: $mobileWidth) {
    background-image: none;
  }
  @media screen and (max-width: $mobileWidth){
    background-image: none;
  }
}

.camera-control__video {
  @include zeroPaddings;
  box-sizing: border-box;
  position: relative;
  @media screen and (max-device-width: $mobileWidth) {
    margin-top: 15%;
  }
  @media screen and (max-width: $mobileWidth){
    margin-top: 15%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/cover-main.png");
    background-size: cover;
  }
}

.camera-control__form {
  @include zeroPaddings;
  margin-top: 6%;
  width: 58%;

  & p {
    @include zeroPaddings;
    font-family: $futuraBookC;
    font-size: 16px;
    line-height: 22px;
    color: $textBlack;
    @media screen and (max-device-width: $mobileWidth) {
      color: white;
    }
    @media screen and (max-width: $mobileWidth){
      color: white;
    }
  }
  @media screen and (max-device-width: $mobileWidth) {
    @include flex(flex-start, column);
    width: 95%;

    & input {
      width: 100%;
      margin-top: 10%;
    }
  }
  @media screen and (max-width: $mobileWidth){
    @include flex(flex-start, column);
    width: 95%;

    & input {
      width: 100%;
      margin-top: 10%;
    }
  }
}

.video-full {
  @media screen and (max-device-width: $mobileWidth) {
    display: none;
  }
  @media screen and (max-width: $mobileWidth){
    display: none;
  }
}

.video-mobile {
  display: none;
  @media screen and (max-device-width: $mobileWidth) {
    display: block;
  }
  @media screen and (max-width: $mobileWidth){
    display: block;
  }
}

.personal-check {
  width: 100%;
}

.repair-types {
  padding: 10% 7% 0;
  @include flex(space-between, row);
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: white;
  position: relative;
  @media screen and (max-device-width: $mobileWidth) {
    @include zeroPaddings;
    padding-top: 25%;
    padding-bottom: 10%;
    @include flex(space-between, column);
    align-items: center;
  }
  @media screen and (max-width: $mobileWidth){
    @include zeroPaddings;
    padding-top: 25%;
    padding-bottom: 10%;
    @include flex(space-between, column);
    align-items: center;
  }
}

.repair-types__heading {
  width: 100%;
  @include flex(space-between, column);
  align-items: center;

  & h3 {
    @include zeroPaddings;
  }
  margin-bottom: 2%;
}

.repair-types__type {
  position: relative;
  margin-bottom: 20%;
  @media screen and (max-device-width: $mobileWidth) {
    margin-bottom: 50%;
  }
  @media screen and (max-width: $mobileWidth){
    margin-bottom: 50%;
  }

  & img {
    max-width: 100%;
  }
}

.repair-types__type__description {
  position: absolute;
  top: 60%;
  left: 10%;
  background-color: white;
  padding: 5%;

  & h3 {
    @include zeroPaddings;
    font-family: $yesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: $textBlack;
  }
  @media screen and (max-device-width: $mobileWidth) {
    left: 0;
    top: 65%;
  }
  @media screen and (max-width: $mobileWidth){
    left: 0;
    top: 65%;
  }
}

.repair-types__type__description__price {
  background-color: $colorBiege;
  font-family: $yesevaOne;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  width: 228px;
  height: 55px;
  position: relative;
  left: -5%;
  @include flex();

  & span {
    margin: auto;
  }
}

.repair-types__type__description__pros {
  font-family: $futuraBookC;
  font-size: 15px;
  line-height: 25px;
  color: $textGray;
}

.working-process {
  @include flex(space-between, row);
  align-items: flex-start;
  background-color: white;
  @media screen and (max-device-width: $mobileWidth) {
    display: none;
  }
  @media screen and (max-width: $mobileWidth){
    display: none;
  }
}

.working-process__steps {
  background-image: url("../assets/img/Background-houses.png");
  background-repeat: no-repeat;
  width: 50%;
  margin-right: 130px;
}

.working-process__steps__list {
  @include zeroPaddings;
  position: relative;
  list-style: none;
  font-family: $futuraMediumC;
  font-size: 18px;
  line-height: 21px;
  color: $textBlack;
  margin-left: 70%;
  min-height: 1000px;

  & li {
    position: absolute;
    padding-left: 50px;
    width: 190%;
    @include flex(space-around, row);
    align-items: center;

    &::before {
      position: absolute;
      content: "";
      width: 42px;
      height: 42px;
      background-color: $colorBiege;
      border-radius: 50%;
      left: 0;
      font-family: $yesevaOne;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: white;
      @include flex(space-around, row);
      align-items: center;
    }
  }

  & li:first-child {
    top: 10%;
    left: -48%;
    max-width: 364px;

    &::before {
      content: "01";
    }
  }

  & li:nth-child(2) {
    top: 25%;
    left: 2%;
    max-width: 100px;

    &::before {
      content: "02";
    }
  }

  & li:nth-child(3) {
    top: 40%;
    left: 5%;
    max-width: 125px;

    &::before {
      content: "03";
    }
  }

  & li:nth-child(4) {
    top: 55%;
    left: -45%;
    max-width: 225px;

    &::before {
      content: "04";
    }
  }
}

.different-styles {
  background-image: url("../assets/img/cover-main.png"), url("../assets/img/fantasy.jpg");
  background-size: cover;
  @include flex(space-between, row);
  padding-left: 7%;
  @media screen and (max-device-width: $mobileWidth) {
    background-image: -webkit-linear-gradient(top, white, white 60%, $mobileBlack 60%, $mobileBlack);
  }
  @media screen and (max-width: $mobileWidth){
    background-image: -webkit-linear-gradient(top, white, white 60%, $mobileBlack 60%, $mobileBlack);
  }
}

.different-styles__list {
  margin-right: 2%;
  @media screen and (max-device-width: $mobileWidth) {
    margin-right: 0;
  }
  @media screen and (max-width: $mobileWidth){
    margin-right: 0;
  }

  & h2 {
    @include zeroPaddings;
    margin-top: 27%;
    font-family: $yesevaOne;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: $colorBiege;
    margin-bottom: 8%;
    @media screen and (max-device-width: $mobileWidth) {
      margin-top: 0;
      text-align: center;
    }
    @media screen and (max-width: $mobileWidth){
      margin-top: 0;
      text-align: center;
    }
  }

  & ul {
    @include zeroPaddings;
    list-style: none;
    color: white;
    font-family: $proximaNova;
    font-size: 20px;
    line-height: 34px;
    @media screen and (max-device-width: $mobileWidth) {
      display: none;
    }
    @media screen and (max-width: $mobileWidth){
      display: none;
    }

    & li {
      margin-top: 5%;

      &:hover {
        color: $colorBiege;
        text-decoration: underline;
      }

      &:active {
        color: darken($colorBiege, 10%);
        text-decoration: underline;
      }
    }
  }
}

.different-styles__gallery {
  @include flex(flex-start, row);
  align-items: center;

  & div {
    width: 50%;
  }

  & img {
    max-width: 100%;
  }
  @media screen and (max-device-width: $mobileWidth) {
    display: none;
  }
  @media screen and (max-width: $mobileWidth){
    display: none;
  }
}

.first-style {
  margin-right: 2%;

  & img:first-child {
    position: relative;
    top: -40px;
  }

  & img:last-child {
    position: relative;
    top: 40px;
    z-index: 1;
  }
}

.second-style {
  & img:first-child {
    position: relative;
    top: -80px;
  }

  & img:last-child {
    position: relative;
    top: -40px;
    z-index: 1;
  }
}

.second-slider-section {
  & img {
    width: 95%;
  }
}

.working-description {
  background-color: $themeDark;
  @include flex(space-around,row);
  padding: 0 7%;
  @media screen and (max-device-width: $wrappingWidth) {
    margin-top: 150px;
  }
  @media screen and (max-width: $mobileWidth){
    margin-top: 150px;
  }
  @media screen and (max-device-width: $mobileWidth) {
    display: none;
  }
  @media screen and (max-width: $mobileWidth){
    display: none;
  }
}

.working-description__steps {
  @include flex(space-around,column);
  margin-right: 9%;
}

.working-description__steps__heading {
  & p {
    @include zeroPaddings;
    font-family: $fontFamilyFuturaC;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    color: white;
  }

  & h2 {
    @include zeroPaddings;
    font-family: $yesevaOne;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: $colorBiege;
    padding-right: 100px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 92px;
      height: 1px;
      background-color: $colorBiege;
      right: 0;
      bottom: 0;
    }
  }
}

.step-number {
  font-family: $yesevaOne;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: white;
}

.working-description__steps__info {
  max-width: 360px;

  & p {
    @include zeroPaddings;
    font-family: $futuraBookC;
    font-size: 15px;
    line-height: 25px;
    color: white;
    margin-top: 5%;
  }

  & h3 {
    @include zeroPaddings;
    font-family: $yesevaOne;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    color: $colorBiege;
  }
}

.description-points {
  @include zeroPaddings;
  @include flex(space-between, row);
}

.working-description__points {
  @include flex(space-between, column);
  margin-top: 6%;

  & img {
    margin-top: 10%;
    max-width: 100%;
  }
}

.working-description__points__table {
  & h3 {
    @include zeroPaddings;
    font-family: $yesevaOne;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.3);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 1px;
      background-color: $colorBiege;
      bottom: 0;
      left: 2px;
    }
  }

  & p {
    @include zeroPaddings;
    margin-top: 15px;
    font-family: $futuraBookC;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.3);
    max-width: 127px;
  }

  & .wide-paragraph {
    max-width: 140px;
  }

  & .active-table {
    & h3 {
      color: white;
    }

    & p {
      color: white;
    }
  }
}

.team-info {
  background: -webkit-linear-gradient(top, $themeDark, $themeDark 40%, white 40%, white);
  @include flex(space-between, column);
  flex-wrap: wrap;
  align-items: center;
  @media screen and (max-device-width: $mobileWidth) {
    background-color: $mobileBlack;
    background-image: none;
    padding-top: 20%;
  }
  @media screen and (max-width: $mobileWidth){
    background-color: $mobileBlack;
    background-image: none;
    padding-top: 20%;
  }
}

.team-info__heading {
  width: 100%;
  @include flex(space-between, column);
  align-items: center;

  & h3 {
    @include zeroPaddings;
    font-family: $yesevaOne;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }

  & p {
    @include zeroPaddings;
    font-family: $futuraBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: white;
  }
}

.team-info__members {
  @include flex(space-around, row);
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1%;
}

.team-info__members__profile {
  position: relative;
  margin: 6%;
  @media screen and (max-device-width: $mobileWidth) {
    margin: 15%;
  }
  @media screen and (max-width: $mobileWidth){
    margin: 15%;
  }
}

.position-image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $colorBiege;
  padding: 10px;
  box-shadow: 0 5px 20px rgba(227, 184, 115, 0.5);
  left: -30px;
  top: -30px;
}

.person-description {
  box-sizing: border-box;
  position: absolute;
  bottom: -50px;
  left: 15px;
  background-color: white;
  width: 90%;
  & h4 {
    @include zeroPaddings;
    font-family: $yesevaOne;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: $clientsBlack;
  }
}

.person-name {
  margin-top: 20px;
  & p {
    font-family: $futuraBookC;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: $textGray;
  }
}

.work-experience {
  font-family: $yesevaOne;
font-size: 13px;
line-height: 20px;
text-align: center;
text-transform: uppercase;

color: white;
background-color: $colorBiege;
max-width: 105%;
padding: 5% 6%;
}

.team-info__description {
  max-width: 560px;
  margin-top: 6%;
  font-family: $futuraBookC;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: $textBlack;
  position: relative;
  @media screen and (max-device-width: $mobileWidth) {
    display: none;
  }
  @media screen and (max-width: $mobileWidth){
    display: none;
  }

  &::before {
    position: absolute;
    content: "";
    width: 55px;
    height: 2px;
    background-color: $colorBiege;
    top: -10px;
    right: 45%;
  }

  & p {
    @include zeroPaddings;
  }
}

.our-clients {
  @include flex(space-between, row);
  align-items: center;
  flex-wrap: wrap;
  padding: 6%;
  background-color: white;
  @media screen and (max-device-width: $mobileWidth) {
    display: none;
  }
  @media screen and (max-width: $mobileWidth){
    display: none;
  }
}

.our-clients__info {
  width: 30%;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  position: relative;
  & h2 {
    @include zeroPaddings;
    font-family: $yesevaOne;
    font-size: 18px;
    line-height: 23px;
    color: $clientsBlack;
  }

  & .our-clients__info__content {
    @include zeroPaddings;
    font-family: $futuraBookC;
    font-size: 15px;
    line-height: 180%;
    color: $textGray;
    margin-left: 5%;
    margin-right: 5%;
  }

  & header {
    @include flex(space-around, row);
    align-items: center;
    @media screen and (max-device-width: 900px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 900px){
      flex-wrap: wrap;
    }
    margin: 5%;
    text-align: center;
    & img {
      border-radius: 50%;
    }
  }
}

.our-clients__info__stats {
  @include flex(space-between, row);
  position: absolute;
  background-color: $colorBiege;
  font-family: $yesevaOne;
  font-size: 17px;
  line-height: 24px;
  color: white;
  max-width: 298px;
  width: 80%;
  box-sizing: border-box;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  & p {
    @include zeroPaddings;
  }

  & .stats-square {
    width: 50%;
    @include flex(space-around, row);
    align-items: center;
    padding: 5%;
    border-right: 1px solid white;
  }

  & .stats-time {
    width: 50%;
    @include flex(space-around, row);
    align-items: center;
    padding: 5%;
  }
}

.questions {
  @include flex(space-around, column);
  align-items: center;
  background-image: -webkit-linear-gradient(top, white, white 30%, transparent 30%, transparent),
  url("../assets/img/cover2.png"),
  url("../assets/img/footer-back.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto, cover, cover;
  padding-top: 9%;

  @media screen and (max-device-width: $mobileWidth) {
    background-color: $mobileBlack;
    background-image: none;
    padding: 2%;
  }
  @media screen and (max-width: $mobileWidth){
    background-color: $mobileBlack;
    background-image: none;
    padding: 2%;
  }
}

.questions__form {
  background-color: $clientsBlack;
  @media screen and (max-device-width: $mobileWidth) {
    background-color: $mobileBlack;
    background-image: none;
  }
  @media screen and (max-width: $mobileWidth){
    background-color: $mobileBlack;
    background-image: none;
  }
  & h2 {
    @include zeroPaddings;
    font-family: $yesevaOne;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }
}

.our-location {
  @include flex(space-between, column);
  align-items: center;

  @media screen and (max-device-width: $mobileWidth) {
    width: 100%;

    & img[alt="location"] {
      width: 100%;
    }
  }
  @media screen and (max-width: $mobileWidth){
    width: 100%;

    & img[alt="location"] {
      width: 100%;
    }
  }

  & h2 {
    @include zeroPaddings;
    font-family: $yesevaOne;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $colorBiege;
    max-width: 590px;
    margin: 5% auto;
  }
}

img[alt="location"] {
  width: 80%;
}

.our-location__links {
  @include flex(center, row);
  margin-bottom: 2%;
  width: 100px;
  & a {
    background-color: $colorBiege;
    border-radius: 50%;
    width: 28px;
    height: 28px;

    &:hover {
      background-color: darken($colorBiege, 10%);
    }

    &:active {
      background-color: darken($colorBiege, 20%);
    }
  }
}

.our-location__links__mail {
  background-image: url("../assets/img/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10%;

}

.our-location__links__instagram {
  background-image: url("../assets/img/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-header:last-child {
  @media screen and (max-device-width: $mobileWidth) {
    display: none;
  }
  @media screen and (max-width: $mobileWidth){
    display: none;
  }
}

img[alt="location"] {
  margin-bottom: 5%;
}

.working-process__form__hot-offer {
  margin-top: 25px;
  font-family: $fontFamilyFuturaC;
  font-size: 20px;
  line-height: 25px;
  color: $colorBiege;
  max-width: 340px;
  text-align: left;
  position: relative;
  padding-left: 75px;

  & p {
    @include zeroPaddings;
    margin-top: 5px;
  }
}

.piggy-round {
  background-color: $colorBiege;
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-image: url("../assets/img/Piggy.svg");
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: -10px;
}

.work-wrap {
  margin-top: 6%;
  margin-right: 2%;
  width: 35%;
}

.repair-types.design-projects {
  background-image: -webkit-linear-gradient(top, white, white 60%, $themeDark 60%, $themeDark);
  @media screen and (max-device-width: $mobileWidth) {
    padding: 10% 5%;
    background-color: $mobileBlack;
    background-image: none;
  }
  @media screen and (max-width: $mobileWidth){
    padding: 10% 5%;
    background-color: $mobileBlack;
    background-image: none;
  }

  & .repair-types__type:nth-child(3) {
    @media screen and (max-device-width: $mobileWidth) {
      margin-bottom: 60%;
    }
    @media screen and (max-width: $mobileWidth){
      margin-bottom: 60%;
    }
  }
}

.repair-types__type.design-projects__type {
  & .repair-types__type__description {
    padding-bottom: 0;
    padding-left: 15px;
  }

  & .repair-types__type__description__price {
    left: -15px;
    bottom: -20px;
  }
  @media screen and (max-device-width: $wrappingWidth) {
    margin-bottom: 200px;
  }
  @media screen and (max-width: $mobileWidth){
    margin-bottom: 200px;
  }
}
