$maxWidth: 1438px;

body {
  padding: 0;
  margin: 0;
  background-color: #131313;
  @media screen and (max-device-width: $mobileWidth) {
    background-color: $mobileBlack;
  }
  @media screen and (max-width: $mobileWidth){
    background-color: $mobileBlack;
  }
}

.center-content {
  width: 100%;
  max-width: $maxWidth;

  margin: 0 auto;

  @media screen and (max-device-width: $mobileWidth) {
    max-width: $mobileWidth;
  }
  @media screen and (max-width: $mobileWidth){
    max-width: $mobileWidth;
  }
}
