@import "../abstracts/fonts";
@import "../abstracts/mixins";
@import "../abstracts/variables";

.camera-control__submit {
  max-width: 770px;
  @include zeroPaddings;
  @include flex(space-between, column);
  align-items: center;
  margin-top: 5%;
}

.camera-control__form {
  width: 100%;
  @include zeroPaddings;
  @include flex(space-between, row);
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  & input {
    @include zeroPaddings;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    width: 231px;
    height: 32px;
    font-family: $futuraBookC;
    font-size: 18px;
    line-height: 24px;
    color: $textBlack;
    background-color: transparent;
    position: relative;
    @media screen and (max-device-width: $mobileWidth) {
      color: white;
      border-color: white;
      width: 100%;
    }
  }
}

#camera-control__form__name,
#camera-control__form__phone{
  &:focus+label::before {
    opacity: 0;
  }

  &:valid+label::before {
    opacity: 0;
  }
}

.form-wrapper {
  position: relative;
  margin-right: 50px;
  @media screen and (max-device-width: $mobileWidth) {
    @include zeroPaddings;
    margin-top: 20px;
    width: 100%;
  }
}

label[for="camera-control__form__name"] {
  position: absolute;
  right: 180px;
  bottom: 30px;
  font-family: $futuraBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
  @media screen and (max-device-width: $mobileWidth) {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    line-height: 20px;
    left: 0;
  }

  &::before {
    position: absolute;
    content: "What is your name:";
    font-family: $futuraBookC;
    font-size: 18px;
    line-height: 24px;
    color: $textBlack;
    left: 0;
    top: 20px;
    width: 160px;
    @media screen and (max-device-width: $mobileWidth) {
      color: white;
    }
  }
}

label[for="camera-control__form__phone"] {
  position: absolute;
  right: 160px;
  bottom: 30px;
  font-family: $futuraBookC;
  font-size: 20px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
  @media screen and (max-device-width: $mobileWidth) {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    line-height: 20px;
    left: 0;
  }

  &::before {
    position: absolute;
    content: "Your phone number:";
    font-family: $futuraBookC;
    font-size: 18px;
    line-height: 24px;
    color: $textBlack;
    left: 0;
    top: 20px;
    width: 160px;
    @media screen and (max-device-width: $mobileWidth) {
      color: white;
    }
  }
}

.personal-check {
  margin-top: 2%;
  font-family: $futuraBookC;
  font-size: 16px;
  line-height: 22px;
  color: $clientsBlack;
  @media screen and (max-device-width: $mobileWidth) {
    margin-top: 10%;
    order: 1;
  }
}

.camera-control__form__submit {
  padding: 15px 75px;
  font-family: $fontFamilyFuturaC;
  font-size: 15px;
  border-radius: 2px;
  @media screen and (max-device-width: $mobileWidth) {
    margin-top: 10%;
    width: 100%;
    order: 2;
    position: relative;
    top: 30px;
    z-index: 1;
  }
}

label[for="personal-check__input"] {
  position: relative;
  margin-left: 24px;
  @media screen and (max-device-width: $mobileWidth) {
    color: white;
    font-size: 16px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid $colorBiege;
    border-radius: 1px;
    left: -22px;
  }
}

#personal-check__input {
  display: none;

  &:checked+label::before {
    background-color: $colorBiege;
    background-image: url("../assets/img/OK.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.working-process__form {
  width: 100%;
  font-family: $fontFamilyFuturaC;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: white;
  background-color: $themeDark;
  padding: 28px 50px;
  box-sizing: border-box;

  & h3 {
    @include zeroPaddings;
    font-family: $fontFamilyFuturaC;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: white;
    max-width: 297px;
    align-self: center;
  }
}

.personal-data-process {
  width: 100%;
  @include zeroPaddings;
  @include flex(space-between, column);
  align-items: center;
  position: relative;

  & .personal-check {
    @include flex;
  }

  & input[type="text"] {
    @include zeroPaddings;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 231px;
    height: 32px;
    font-family: $futuraBookC;
    font-size: 18px;
    line-height: 24px;
    color: white;
    position: relative;
    background-color: transparent;
    width: 100%;
    margin-top: 15%;
  }

  & .form-wrapper {
    @include zeroPaddings;
    width: 100%;
  }
}

label[for="working-process__form__name"] {
  position: absolute;
  left: 0;
  bottom: 30px;
  font-family: $futuraBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);

  &::before {
    position: absolute;
    content: "What is your name:";
    font-family: $futuraBookC;
    font-size: 18px;
    line-height: 24px;
    color: white;
    left: 0;
    top: 20px;
    width: 160px;
  }
}

label[for="working-process__form__phone"] {
  position: absolute;
  left: 0;
  bottom: 30px;
  font-family: $futuraBookC;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);

  &::before {
    position: absolute;
    content: "Your phone number:";
    font-family: $futuraBookC;
    font-size: 18px;
    line-height: 24px;
    color: white;
    left: 0;
    top: 20px;
    width: 160px;
  }
}

label[for="working-process__form__email"] {
  position: absolute;
  left: 0;
  bottom: 30px;
  font-family: $futuraBookC;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);

  &::before {
    position: absolute;
    content: "Your email:";
    font-family: $futuraBookC;
    font-size: 18px;
    line-height: 24px;
    color: white;
    left: -35px;
    top: 20px;
    width: 160px;
  }
}

label[for="personal-check__input-2"], label[for="personal-check__input-3"]{
  position: relative;
  margin-left: 24px;
  color: white;
  @media screen and (max-device-width: $mobileWidth) {
    font-size: 16px;
  }
  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid $colorBiege;
    border-radius: 1px;
    left: -22px;
  }
}

#personal-check__input-2, #personal-check__input-3{
  display: none;

  &:checked+label::before {
    background-color: $colorBiege;
    background-image: url("../assets/img/OK.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.questions__form {
  @include flex(space-around, column);
  align-items: center;
  flex-wrap: wrap;
  padding: 2% 10%;
  @media screen and (max-device-width: $mobileWidth) {
    padding: 5%;
  }

  & input[type="text"] {
    @include zeroPaddings;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 231px;
    height: 32px;
    font-family: $futuraBookC;
    font-size: 18px;
    line-height: 24px;
    color: white;
    position: relative;
    background-color: transparent;
    margin-top: 15%;
  }
}

#questions__form__question {
  width: 100%;
}

#questions__form__name,
#questions__form__phone,
#questions__form__question {
  @media screen and (max-device-width: $mobileWidth) {
    width: 100%;
  }

  &:focus+label::before {
    opacity: 0;
  }

  &:valid+label::before {
    opacity: 0;
  }
}

label[for="questions__form__name"] {
  position: absolute;
  left: 0;
  bottom: 30px;
  font-family: $futuraBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);

  &::before {
    position: absolute;
    content: "Name:";
    font-family: $futuraBookC;
    font-size: 18px;
    line-height: 24px;
    color: white;
    left: 0;
    top: 20px;
    width: 160px;
  }
}

label[for="questions__form__phone"] {
  position: absolute;
  left: 0;
  bottom: 30px;
  font-family: $futuraBookC;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);

  &::before {
    position: absolute;
    content: "Phone:";
    font-family: $futuraBookC;
    font-size: 18px;
    line-height: 24px;
    color: white;
    left: 0;
    top: 20px;
    width: 160px;
  }
}

label[for="questions__form__question"] {
  position: absolute;
  left: 0;
  bottom: 30px;
  font-family: $futuraBookC;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);

  &::before {
    position: absolute;
    content: "Question:";
    font-family: $futuraBookC;
    font-size: 18px;
    line-height: 24px;
    color: white;
    left: 0;
    top: 20px;
    width: 160px;
  }
}

.question-wrapper {
  @include flex(space-between, row);
  flex-wrap: wrap;
  & div:last-child {
    @include zeroPaddings;
  }
}

.question-container {
  @include zeroPaddings;
  width: 100%;
}

.form-elements {
  @include flex(space-between,column);
  align-items: center;
}
