@font-face {
  font-family: "FuturaDemiC";
  src: url("../assets/fonts/futurademic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/futurademic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yeseva One";
  src: url("../assets/fonts/yesevaone.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaMediumC";
  src: url("../assets/fonts/futuramediumc.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/Proxima Nova.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.call-request {
  margin: 0;
  padding: 0;
  background-color: #E3B873;
  border: none;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
  padding: 13px 33px;
  margin-right: 6%;
}
.call-request span {
  font-family: "FuturaDemiC", sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.call-request:hover {
  background-color: #dba249;
}
.call-request:active {
  background-color: #c88b28;
}
@media screen and (max-device-width: 768px) {
  .call-request {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .call-request {
    display: none;
  }
}

.calculate-cost {
  margin: 0;
  padding: 0;
  margin-right: 1%;
  background-color: #E3B873;
  border: none;
  font-family: "FuturaDemiC", sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-radius: 2px;
  padding: 19px 42px 20px 41px;
}
.calculate-cost:hover {
  background-color: #dba249;
}
.calculate-cost:active {
  background-color: #c88b28;
}
@media screen and (max-device-width: 768px) {
  .calculate-cost {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .calculate-cost {
    width: 95%;
  }
}

.submit-application {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid white;
  font-family: "FuturaDemiC", sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-radius: 2px;
  padding: 19px 42px 20px 41px;
}
.submit-application:hover {
  border-color: #dba249;
  color: #dba249;
}
.submit-application:active {
  border-color: #c88b28;
  color: #c88b28;
}
@media screen and (max-device-width: 768px) {
  .submit-application {
    width: 95%;
    margin-top: 5%;
  }
}
@media screen and (max-width: 768px) {
  .submit-application {
    width: 95%;
    margin-top: 5%;
  }
}

.scroll-down__button {
  width: 29px;
  height: 29px;
  border: 1.5px solid #E3B873;
  background-color: transparent;
  border-radius: 100%;
  position: absolute;
  right: 5%;
  top: 35%;
}
.scroll-down__button:hover {
  border-color: #dba249;
}
.scroll-down__button:active {
  border-color: #c88b28;
}

.swipe-left {
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #E3B873;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.swipe-left img {
  margin: auto;
}
.swipe-left:hover {
  background-color: #dba249;
}
.swipe-left:active {
  background-color: #c88b28;
}

.swipe-left__mobile {
  border: none;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 36px;
  height: 36px;
  background-color: #E3B873;
  border: none;
  border-radius: 100%;
  transform: rotate(180deg);
  background-image: url("../assets/img/Vector(Stroke).svg");
  background-repeat: no-repeat;
  background-position: center;
}
.swipe-left__mobile:hover {
  background-color: #dba249;
}
.swipe-left__mobile:active {
  background-color: #c88b28;
}

.swipe-right__mobile {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 36px;
  height: 36px;
  background-color: #E3B873;
  border: none;
  border-radius: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../assets/img/Vector(Stroke).svg");
  background-repeat: no-repeat;
  background-position: center;
}
.swipe-right__mobile:hover {
  background-color: #dba249;
}
.swipe-right__mobile:active {
  background-color: #c88b28;
}

.completed-projects__photos__navigation button {
  border: none;
  background-color: transparent;
  font-family: "Yeseva One", serif;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}
.completed-projects__photos__navigation button:hover {
  color: #E3B873;
  text-decoration: underline;
}
.completed-projects__photos__navigation button:active {
  color: #c88b28;
  text-decoration: underline;
}

.camera-control__video__button {
  position: absolute;
  top: 40%;
  left: 45%;
  width: 85px;
  height: 85px;
  background-color: #E3B873;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (max-device-width: 768px) {
  .camera-control__video__button {
    top: 35%;
    left: 40%;
  }
}
@media screen and (max-width: 768px) {
  .camera-control__video__button {
    top: 35%;
    left: 40%;
  }
}
.camera-control__video__button img {
  margin: auto auto auto 30px;
}
.camera-control__video__button:hover {
  background-color: #dba249;
}
.camera-control__video__button:active {
  background-color: #c88b28;
}

.camera-control__form__submit {
  font-family: "FuturaDemiC", sans-serif;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border: none;
  background-color: #E3B873;
}
.camera-control__form__submit:hover {
  background-color: #dba249;
}
.camera-control__form__submit:active {
  background-color: #c88b28;
}

.arrow-left {
  margin: 0;
  padding: 0;
  background-color: #131313;
  border: none;
  padding: 2%;
}
.arrow-left:hover {
  background-color: gba(255, 255, 255, 0.5);
  border-radius: 25%;
}
.arrow-left:active {
  background-color: gba(255, 255, 255, 0.5);
  border-radius: 25%;
}

.arrow-right {
  margin: 0;
  padding: 0;
  background-color: #131313;
  border: none;
  padding: 2%;
}
.arrow-right img {
  transform: rotate(180deg);
}
.arrow-right:hover {
  background-color: gba(255, 255, 255, 0.5);
  border-radius: 25%;
}
.arrow-right:active {
  background-color: gba(255, 255, 255, 0.5);
  border-radius: 25%;
}

.questions__form__submit,
.working-process__form__submit {
  font-family: "FuturaDemiC", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border: none;
  align-self: flex-end;
  background-color: #E3B873;
  padding: 19px 22px;
  margin-top: 10%;
}
.questions__form__submit:hover,
.working-process__form__submit:hover {
  background-color: #dba249;
}
.questions__form__submit:active,
.working-process__form__submit:active {
  background-color: #c88b28;
}

.questions__form__submit {
  font-family: "FuturaDemiC", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border: none;
  align-self: flex-end;
  background-color: #E3B873;
  padding: 20px 65px;
  margin-top: 10%;
  align-self: center;
}
.questions__form__submit:hover {
  background-color: #dba249;
}
.questions__form__submit:active {
  background-color: #c88b28;
}

/*# sourceMappingURL=buttons.css.map */
